---
import { Picture } from "astro:assets";
import PageLayout from "@layouts/page.astro";
import ButtonBar from "@components/buttonbar.astro";
import ButtonLink from "@components/buttonlink.astro";
import Container from "@components/container.astro";
import Head from "@components/head.astro";
import Navbar from "@components/navbar.astro";
import Socials from "@components/socials.astro";
import headshot from "@assets/headshot.jpg";
---

<PageLayout>
  <head>
    <Head title="About" permalink="/about" />
  </head>

  <body>
    <Navbar />
    <Container>
      <h1>Whomst?</h1>
      <div class="tangent">
        <div class="sidebar">
          <div class="wrap">
            <div class="rectangle-wrap">
              <div class="rectangle"></div>
            </div>
            <div class="headshot">
              <Picture src={headshot} width="300" alt="Anna Hsu headshot" />
            </div>
          </div>
          <div class="bar">
            <ButtonBar>
              <ButtonLink href="https://anna.show/resume">Resume</ButtonLink>
              <ButtonLink href="https://anna.show/headshot">
                Headshot
              </ButtonLink>
            </ButtonBar>
            <Socials />
          </div>
        </div>
        <div class="content">
          <p>
            Hallo! My name is Anna (she/her) and I'm a Taiwanese American gal
            studying Computer Engineering and Computer Science at the <a
              href="https://usc.edu">University of Southern California</a
            >. I'm originally from Northern Virginia and I graduated from <a
              href="https://tjhsst.fcps.edu"
              >Thomas Jefferson High School for Science and Technology</a
            >. That's where I discovered my love for filling niches at the
            intersections of different fields. I'm broadly interested in
            designing and writing code to build impactful products, AI ethics
            and policy, and expanding tech journalism to a broader audience.
          </p>
          <p>
            At USC, I'm a <a href="https://viterbivoices.usc.edu"
              >Viterbi Student Ambassador</a
            >, where I share my experience as a student studying engineering at
            USC with prospective students and their families. I also recruit <a
              href="https://youtu.be/Q0wVGwo-OZk?feature=shared"
              >amazing speakers</a
            >, publish <a
              href="https://medium.com/@hacksc/hibiscus-a-hacksc-engineering-product-3899952a9d10"
              >cool articles</a
            >, and sometimes write <a href="https://github.com/hacksc/hibiscus"
              >code</a
            > at <a href="https://hacksc.com">HackSC</a>.
          </p>
          <p>
            By leveraging my technical background and my love of writing, I
            cover noteworthy innovations, accomplishments, and events for the
            <a href="https://cs.usc.edu/news/"
              >USC Thomas Lord Department of Computer Science</a
            >. I also lead copy editing efforts at <a
              href="https://collegebrief.org/">College Brief</a
            >, a nonprofit dedicated to instilling newsreading habits in
            college-aged audiences. I previously led the copy desk at <a
              href="https://www.uscannenbergmedia.com/">Annenberg Media</a
            >, where I began my journey of contributing to accurate,
            high-quality journalism.
          </p>

          <p>
            In my (rare) spare time, you can find me eating Taiwanese food, <a
              href="https://open.spotify.com/playlist/7pqZbX1kOheeGjIY5B6i6M"
              >listening to music</a
            >, and <a href="https://www.strava.com/athletes/89593849"
              >running from my life problems</a
            >. Feel free to reach out via email; I'd love to chat!
          </p>
        </div>
      </div>
    </Container>
  </body>
</PageLayout>

 <style lang="scss">
  .content {
    flex: 999 1 300px;
  }

  .tangent {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    flex: 1 1 0;
  }

  .wrap {
    position: relative;
    z-index: 10;
  }

  .rectangle-wrap {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .rectangle {
    background: var(--light);
    width: 100%;
    height: 100%;
    z-index: 50;
    animation: whee 1s ease forwards;
  }

  .headshot {
    z-index: 100;
    max-width: 300px;
    max-height: 300px;
    animation: photo 1s ease forwards;
  }

  @media (max-width: 374px) {
    .headshot {
      max-width: 200px;
      max-height: 200px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  @media (prefers-reduced-motion: reduce) {
    .rectangle {
      animation: none;
      transform: rotate(6deg);
      box-shadow: var(--cutout);
    }
  }

  @keyframes photo {
    100% {
      box-shadow: var(--cutout);
    }
  }

  @keyframes whee {
    0% {
      opacity: 0%;
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(6deg);
      box-shadow: var(--cutout);
    }
  }
</style>
