---
import { getCollection } from "astro:content";
import PageLayout from '@layouts/page.astro';

import BlogCard from '@components/blogcard.astro';
import ButtonBar from '@components/buttonbar.astro';
import ButtonLink from '@components/buttonlink.astro';
import Container from '@components/container.astro';
import Head from '@components/head.astro';
import Navbar from '@components/navbar.astro';

const title = 'Blog';
const description = 'I\'m Anna Hsu (she/her), a Taiwanese American gal studying Computer Engineering and Computer Science at the University of Southern California.';
const permalink = '/blog';

let allPosts = await getCollection("blog");
allPosts = allPosts.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
---
<PageLayout>
  <head>
    <Head {title} {description} {permalink} />

    <style lang="scss">
      .content {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
    </style>
  </head>

  <body>
      <Navbar />
    <Container>
      <h1>How To Take Over The World&trade;</h1>
      <!-- <ButtonBar>
        <ButtonLink href="#">asldkfjaslkfdjlaksjdflkas</ButtonLink>
      </ButtonBar> -->
      <div class="content">
        {allPosts.map((p) => <BlogCard post={p} />)}
      </div>
    </Container>
  </body>
</PageLayout>
