---
import { Picture } from "astro:assets";

export interface Props {
  src: any;
  alt: string;
}

const { src, alt } = Astro.props;
---

<div class="blogimage">
  <Picture
    class="image"
    src={src}
    widths={[400, 800]}
    sizes="(max-width: 300px) 280px, (max-width: 500px) 20em, (max-width: 600px) 27em, (max-width: 700px) 33em, (min-width: 700px) 40em"
    alt={alt}
    loading="lazy"
  />
  <figcaption>{alt}</figcaption>
</div>

<style lang="scss">
  .blogimage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.25rem;
    margin-bottom: var(--bottommargin);
  }

  .image {
    box-shadow: var(--photodrop);
    width: 100%;
    height: auto;
  }

  figcaption {
    font-style: oblique;
  }
</style>
