---
---

<span>
  <slot />
</span>

<style lang="scss">
  span {
    padding: 8px 12px;
    color: var(--med);
    font-weight: bold;
    background: var(--light);
    box-shadow: inset 4px 0px 16px rgba(253, 250, 249, 0.5),
      inset 0px -4px 16px rgba(249, 236, 234, 0.5),
      inset -4px 0px 16px rgba(115, 48, 34, 0.5), var(--buttondrop);
    border-radius: 8px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
</style>
