---
---

<main>
  <slot />
</main>

<style lang="scss">
  main {
    max-width: 900px;
    width: 100%;
    padding-bottom: 128px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
</style>
