---
import AnnaHsu from "@components/annahsu.astro";

import Hamburger from '@components/hamburger.astro';

const page = new URL(Astro.request.url).pathname;

const navLinks = [
  {
    name: 'About',
    link: '/about',
  },
  {
    name: 'Blog',
    link: '/blog',
  },
  {
    name: 'Portfolio',
    link: '/portfolio',
  },
]
---

<nav>
  <div class="nav-mobile">
    <div class="logo">
      <a href="/">
        <AnnaHsu />
      </a>
    </div>
    <span class="navbar-toggle" id="js-navbar-toggle">
      <Hamburger />
    </span>
  </div>
  <div class="navlinks" id="js-menu">
    {navLinks.map(({ name, link }) => (
    <a class={page.includes(link) ? 'active link' : 'link' } href={link}>{name}</a>
    ))}
  </div>
</nav>

<style lang="scss">
  nav {
    position: fixed;
    background-color: var(--pale);
    color: inherit;
    display: flex;
    flex-direction: column;
    padding: 32px 32px;
    max-width: 964px;
    width: 100%;
    z-index: 999;

    @media (max-width: 350px) {
      padding: 32px 16px;
    }
  }

  .logo {
    a {
      color: var(--black);
    }
  }

  .nav-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navlinks {
    display: none;
  }

  .navbar-toggle {
    display: inline-flex;
  }

  .navbar-toggle:hover {
    cursor: pointer;
  }

  @media (max-width: 800px) {
    nav {
      gap: 32px;
    }

    .active {
      font-weight: bold;
    }

    .link {
      font-size: 20px;
      width:100%;
      text-align: center;
    }
  }

  @media (min-width: 800px) {
    nav {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .navlinks {
      display: flex;
      gap: 32px;
    }

    .link {
      &::after {
        background: var(--light);
        content: "";
        width: 0;
        position: absolute;
        top: 22px;
        left: 0;
        right: 0;
        height: 2px;
        opacity: 0;
        transition: 0.2s;
      }

      &:hover::after {
        opacity: 1;
        width: 100%;
      }
    }

    .active::after {
      opacity: 1;
      width: 100%;
    }

    .navbar-toggle {
      display: none;
    }
  }

  .on {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    overflow: hidden;

    min-height: 100vh;
  }

  [astro-icon] {
    color: var(--med);
  }

  a {
    display: inline-block;
    position: relative;
    transition: 0.2s;
    color: var(--med);
    text-decoration: none;
    box-shadow: none;
    padding: 0px;
    font-weight: inherit;
  }

  a:hover {
    background: none;
  }

  @media (prefers-reduced-motion: reduce) {
    a {
      transition: none;
    }
  }
</style>

<script>
  let navlinks = document.getElementById("js-menu");
  let navBarToggle = document.getElementById("js-navbar-toggle");
  navBarToggle.addEventListener("click", () => {
    navlinks.classList.toggle("on");
  });
</script>
