---
import ButtonBar from "@components/buttonbar.astro";
import { Icon } from 'astro-icon';
---

<ButtonBar>
  <a class="icon" href="mailto:hello@annahsu.dev">
    <Icon size={40} name="ion:mail" alt="email" />
  </a>
  <a class="icon" href="https://linkedin.com/in/annaahsu">
    <Icon size={40} name="ion:logo-linkedin" alt="LinkedIn" />
  </a>
  <a class="icon" href="https://twitter.com/annaahsu">
    <Icon size={40} name="ion:logo-twitter" alt="Twitter" />
  </a>
  <a class="icon" href="https://github.com/annaahsu">
    <Icon size={40} name="ion:logo-github" alt="Github" />
  </a>
  <a class="icon" href="https://l.annahsu.dev/yt">
    <Icon size={40} name="ion:logo-youtube" alt="YouTube" />
  </a>
</ButtonBar>

<style lang="scss">
  [astro-icon] {
    color: var(--med);
  }

  .icon {
    text-decoration: none;
  }

  a {
    box-shadow: none;
    padding: 0;
    transition: none;
  }
  a:hover {
    background: none;
  }
</style>
